/* FONTS */

/* BROTHER REGULAR */
@font-face {
  font-family: "BrotherRegular";
  src: url("../fonts/Brother1816-Regular.woff2") format("woff2");
}
/* BROTHER BOLD */
@font-face {
  font-family: "BrotherBold";
  src: url("../fonts/Brother1816-ExtraBold.woff2") format("woff2");
}

body {
  background-color: #596e6e;
  padding: 50px;
  font-family: "BrotherRegular";
}

/* CONTAINER */
#container {
  width: 90%;
  max-width: 1440px;
}
/* NAV */
nav {
    
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(227,228,222);
    background: linear-gradient(90deg, rgba(227,228,222,1) 0%, rgba(217,222,216,1) 35%);
}
/* ENLACES DEL NAV */

.lo{
    list-style: none;
    justify-content: start;
    font-size: 30px;
    font-weight: bold;
}



.enlacesArriba {
  padding-right: 20px;
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}




.subscribe{
    
    border: 2px solid black;
  padding: 10px 20px 10px 20px;
  
  

}


header{
    background: url(../imagenes/desktop/portada.webp);
    background-repeat: no-repeat;
    background-size: cover;  
    height: 1000px;
    
    
    
   
   
}

.lombok{
    position: absolute;
    top: 32%;
    left: 35%;
    font-size: 100px;
}


.holistic{
    position: absolute;
    top: 55%;
    left: 40%;
    font-size: 30px;
    
}



.latest{
    text-align: center;
    padding-top: 100px;
    background-color:rgb(227,228,222);
    background: linear-gradient(90deg, rgba(227,228,222,1) 0%, rgba(217,222,216,1) 35%);
    width: 100%;
    
}



/* ESTILOS DE LAS 3 IMAGENES S Y SUS RESPECTIVOS TEXTOS */
.imagenes{
    
    display: flex;
    justify-content: space-around;
    
    

}


.imagen1{
    height: 450px;
    background-color: white;
  box-shadow: 3px 5px 5px #888888;
}


.textoImagen1{
    margin-top: 25%;
    
}

.imagen2{
    height: 450px;
    background-color: white;
    box-shadow: 3px 5px 5px #888888;
}


.textoImagen2{
    margin-top: 25%;
    
}

.imagen3{
    height: 450px;
    background-color: white;
     box-shadow: 3px 5px 5px #888888;
}


.textoImagen3{
    margin-top: 25%;
    
}


/* CUADRADOS ABAJO DE LAS 3 IMAGENES */

.cuadradoDoble{
width: 100%;
display:flex;
padding-top: 200px;

}


.imagen4{
    width: 50%;
    background: url(../imagenes/desktop/planta4.webp);
    background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}


.textoAbout{
    width: 50%;
    background-color: white;
}

.textoAbajoAbout{
    margin: 18%;
    text-align: justify;
    vertical-align: middle;
}